# dependencies (bun install)
node_modules

# Temp while dev
web-angular-app
web-astro-app
web-react-app
web-vue-app
web-svelte-app
backend-express-app
backend-springboot-app
backend-apiplatform-app
database-postgresql-app
database-mariadb-app
database-mongodb-app
database-oracle-app
mobile-reactnative-app